$component: 'design';

.#{$component} {
  @include section-indent;
  background-image: url('../images/design/design-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
  }

  &__inner {
    // padding: 60px 0 57px 0;
    padding-top: 60px;
    position: relative;
    z-index: 2;

    @media (max-width: 1024px) {
      padding-top: 40px;
    }

    @media (max-width: 768px) {
      padding-top: 35px;
    }
  }

  &__image {}

  &__image-group {
    max-width: 100%;
    margin-bottom: -45px;

    @media (max-width: 1024px) {
      margin-bottom: -25px;
    }

    @media (max-width: 768px) {
      margin-bottom: -15px;
    }
  }
}