$component: 'design';

.#{$component} {
  @include section-indent;
  background-image: url('../images/design/design-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
  }

  &__inner {
    padding: 60px 0 57px 0;
    position: relative;
    z-index: 2;
  }

  &__image-tablet {
    max-width: 100%;
  }

  &__image-phone {
    max-width: 100%;
    position: absolute;
    bottom: -40px;
    right: 200px;
  }
}