$component: 'footer';

$gray-500: #c6cbcd;
$color-aqua: #95e1d3;

.#{$component} {
  @include section-indent;
  background-color: #f8f8f8;

  &__row {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 42px;
    border-bottom: 1px solid $gray-500;

    @media (max-width: 1024px) {
      gap: 20px;
    }

    @media (max-width: 992px) {
      flex-wrap: wrap;
      text-align: center;
    }

    @media (max-width: 768px) {
      gap: 0;
    }

    @media (max-width: 576px) {
      padding-bottom: 30px;
    }
  }

  &__col {
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__logo-image {
    display: inline-block;
    margin-bottom: 45px;

    @media (max-width: 1024px) {
      width: 95px;
      margin-bottom: 40px;
    }
  }

  &__text {
    color: $gray-500;
    font-size: $font-size-sm;
    margin-bottom: 50px;
    max-width: 370px;

    @media (max-width: 1024px) {
      font-size: $font-size-xs;
      margin-bottom: 40px;
      max-width: 288px;
      display: inline-block;
    }

    @media (max-width: 576px) {
      margin-bottom: 30px;
    }
  }

  &__subscribers {
    padding-bottom: 20px;
    position: relative;

    &::before {
      content: '';
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $gray-500;
    }

    @media (max-width: 1024px) {
      padding-bottom: 15px;
    }
  }

  &__subscribers-title {
    font-style: italic;
    font-size: $font-size-sm;
    text-transform: uppercase;

    @media (max-width: 1024px) {
      font-size: $font-size-xs;
    }

    span {
      font-weight: 700;
      font-style: normal;
      font-size: $font-size-lg;

      @media (max-width: 1024px) {
        font-size: $font-size-base;
      }
    }

    sub {
      font-weight: 700;
    }
  }

  &__social {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  &__social-follow {
    color: $gray-500;
    font-size: $font-size-xs;

    @media (max-width: 1024px) {
      font-size: 12px;
    }
  }

  &__social-item {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s linear;

    &:hover {
      transform: scale(1.3);
    }
  }

  // &__social-link {}

  &__social-icon {
    color: $color-aqua;
    max-width: 100%;
  }

  &__form {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__form-input {
    border: none;
    border: 1px solid $gray-500;
    background: none;
    outline: none;
    padding: 16px 10px;
    font-size: $font-size-sm;
    margin-right: -5px;
    transition: all .1s ease-in-out;

    @media (max-width: 1024px) {
      padding: 7px 10px;
    }

    @media (max-width: 768px) {
      margin-bottom: 24px;
      padding: 7px 33px;
    }

    &:focus {
      box-shadow: 0px 0px 10px 2px rgba(20, 225, 162, 0.2) inset;
    }

    &::placeholder {
      color: $gray-500;
      text-align: center;
      font-size: $font-size-sm;
    }
  }

  &__form-button {
    padding: 17px 25px;
    font-weight: 700;
    font-size: $font-size-sm;
    color: $color-white;
    background-color: $color-aqua;
    transition: all .2s ease-in-out;

    @media (max-width: 1024px) {
      padding: 8px 10px;
    }

    @media (max-width: 768px) {
      padding: 8px 102px;
    }

    &:hover {
      background-color: #2d6c60;
    }
  }

  // Blogs

  &__title {
    margin-bottom: 45px;
    font-weight: 700;
    font-size: $font-size-base;
    text-transform: uppercase;

    @media (max-width: 1024px) {
      font-size: $font-size-sm;
      margin-bottom: 25px;
    }
  }

  &__blog {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;

    @media (max-width: 1024px) {
      margin-bottom: 10px;
      gap: 20px;
    }

    @media (max-width: 768px) {
      gap: 10px;
    }
  }

  &__blog-image {
    max-width: 100%;
  }

  // &__blog-content {}

  &__blog-text {
    font-weight: 700;
    font-size: $font-size-sm;
    text-transform: uppercase;
    margin-bottom: 20px;
    max-width: 270px;

    @media (max-width: 1024px) {
      font-size: $font-size-xs;
    }
  }

  &__blog-data {
    font-size: $font-size-xs;

    @media (max-width: 1024px) {
      font-size: 12px;
    }
  }

  // Instagram
  &__instagram {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    margin-bottom: 40px;
  }

  &__instagram-gallery {
    display: flex;
    border-bottom: 1px solid $color-white;
    border-left: 1px solid $color-white;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.2);
      border: none;
    }
  }

  &__instagram-photo {

    max-width: 100%;
    display: block;
  }

  &__instagram-link {
    text-transform: uppercase;
    font-size: $font-size-xs;
    text-decoration: underline;
  }

  // Сopyright
  &__copyright {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
  }

  &__copyright-text {
    font-weight: 700;
    font-size: $font-size-xs;
    text-transform: uppercase;
  }
}