$component: 'futures';

.#{$component} {
  background-color: #95e1d3;

  &__row {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__item {
    padding: 65px 40px;
    color: $color-white;
    border-right: 1px solid $color-white;

    &:first-child {
      border-left: 1px solid $color-white;
    }
  }

  &__item-number {
    font-weight: 700;
    font-size: ($font-size-md * 2.7);
    margin-bottom: 25px;
  }

  &__item-text {
    font-weight: 500;
    font-size: $font-size-base;
  }
}