$component: 'gallery';

.#{$component} {
  @include section-indent;

  &__grid {
    margin: 84px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'gallery__grid-item_1 gallery__grid-item_2 gallery__grid-item_3 gallery__grid-item_4'
      'gallery__grid-item_5 gallery__grid-item_6 gallery__grid-item_3 gallery__grid-item_7';

    @media (max-width: 1024px) {
      margin: 55px 0;
    }

    @media (max-width: 768px) {
      margin: 15px 0 29px 0;
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(5, auto);
    }
  }

  &__grid-item_1 {
    grid-area: gallery__grid-item_1;

    @media (max-width: 768px) {
      grid-column: 1/5;
      grid-row: 1/2;
    }
  }

  &__grid-item_2 {
    grid-area: gallery__grid-item_2;

    @media (max-width: 768px) {
      grid-column: -1;
      grid-row: 4/5;
    }
  }

  &__grid-item_3 {
    grid-area: gallery__grid-item_3;

    @media (max-width: 768px) {
      grid-column: -1;
      grid-row: 1/4;
    }
  }

  &__grid-item_4 {
    grid-area: gallery__grid-item_4;

    @media (max-width: 768px) {
      grid-column: 4/4;
      grid-row: 4/5;
    }
  }

  &__grid-item_5 {
    grid-area: gallery__grid-item_5;

    @media (max-width: 768px) {
      grid-column: 2/5;
      grid-row: 2/3;
    }
  }

  &__grid-item_6 {
    grid-area: gallery__grid-item_6;

    @media (max-width: 768px) {
      grid-column: 1/6;
      grid-row: 5/-1;
    }
  }

  &__grid-item_7 {
    grid-area: gallery__grid-item_7;

    @media (max-width: 768px) {
      grid-column: 4/5;
      grid-row: 3/4;

    }
  }

  &__grid-item {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
      opacity: 0;
      transition: all .2s linear;
      width: 100%;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &__grid-image {
    @include image;
  }

  &__grid-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-white;
    text-align: center;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    width: 100%;

  }

  &__grid-item:hover &__grid-content {
    opacity: 1;
  }

  &__grid-icon {
    margin-bottom: 57px;

    @media (max-width: 1024px) {
      margin-bottom: 38px;
    }

    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  &__grid-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: $font-size-base;
    margin-bottom: 25px;

    @media (max-width: 1024px) {
      font-size: $font-size-sm;
      margin-bottom: 15px;
    }
  }

  &__grid-text {
    font-size: $font-size-sm;

    @media (max-width: 1024px) {
      font-size: $font-size-xs;
    }
  }
}