$component: 'reviews';

.#{$component} {
  margin-bottom: 42px;
  background-color: #f8f8f8;

  @media (max-width: 1024px) {
    margin-bottom: 15px;
  }

  &_bg_transparent {
    background: none;
  }

  // &__slider {}

  &__wrapper {
    padding: 42px 0;
    position: relative;
  }

  // &__slide {}

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0 40px 0 55px;
    cursor: pointer;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    @media (max-width: 576px) {
      padding: 0;
    }
  }

  // &__slide-col {}
  &__col-avatar {
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 50%;

    @media (max-width: 768px) {
      width: 115px;
      height: 115px;
    }
  }

  &__col-photo {
    @include image;
  }

  &__col-image {
    @media (max-width: 768px) {
      display: none;
    }
  }


  &__col-blockquote {
    max-width: 770px;
    font-weight: 500;
    font-style: italic;
    font-size: $font-size-base;
    color: #a9afb1;
    margin-bottom: 21px;

    @media (max-width: 1024px) {
      font-size: $font-size-sm;
    }

    @media (max-width: 576px) {
      font-size: $font-size-xs;
    }
  }

  &__col-cite {
    @include font-famaly-kaushan;
    font-size: $font-size-md;
    color: $color-black;
    line-height: 1.5;
    padding-left: 126px;
    position: relative;

    @media (max-width: 1024px) {
      font-size: $font-size-base;
      padding-left: 84px;
    }

    @media (max-width: 576px) {
      font-size: $font-size-sm;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 70px;
      height: 4px;
      background-color: #f38281;

      @media (max-width: 1024px) {
        width: 47px;
      }
    }
  }

  &__button-left {
    left: 0;
  }

  &__button-left,
  &__button-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;

    @media (max-width: 576px) {
      display: none;
    }

  }
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #000;
}