.section-top {
  text-align: center;
  padding-top: 25px;

  &__suptitle {
    @include font-famaly-kaushan;
    font-size: $h3-font-size;
    color: $color-base;
    margin-bottom: 30px;
    line-height: 1.4;
  }

  &__title {
    font-weight: 900;
    font-size: $h2-font-size;
    color: $color-base;
    text-transform: uppercase;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -44px;
      left: 50%;
      transform: translateX(-50%);
      width: 170px;
      height: 4px;
      background-color: #f38281;
    }
  }

  &__lead {
    font-size: $font-size-base;
    color: $color-black;
    margin-top: 92px;
  }
}