.section-top {
  text-align: center;
  padding-top: 25px;
  position: relative;
  z-index: 2;

  @media (max-width: 1024px) {
    padding-top: 22px;
  }

  &__suptitle {
    @include font-famaly-kaushan;
    font-size: $font-size-md;
    color: $color-base;
    margin-bottom: 30px;
    line-height: 1.4;

    @media (max-width: 1024px) {
      font-size: $font-size-base;
    }
  }

  &__title {
    font-weight: 900;
    font-size: $font-size-lg;
    color: $color-base;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 44px;

    @media (max-width: 1024px) {
      font-size: $font-size-base;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 170px;
      height: 4px;
      background-color: #f38281;
    }
  }

  &__lead {
    font-size: $font-size-sm;
    color: $color-black;
    margin-top: 40px;

    @media (max-width: 1024px) {
      font-size: $font-size-xs;
    }
  }
}