$component: 'service';

.#{$component} {
  @include section-indent;

  &__inner {
    margin: 80px 0 108px 0;
  }

  &__row {
    display: flex;
    gap: 30px;
  }

  &__col {
    width: calc(50% - 30px);
  }

  &__image {
    max-width: 100%;
    display: block;
  }
}