$component: 'service';

.#{$component} {
  @include section-indent;

  &__inner {
    margin: 80px 0 108px 0;

    @media (max-width: 1024px) {
      margin: 72px 0 87px 0;
    }

    @media (max-width: 768px) {
      margin: 45px 0 30px 0;
    }

  }

  &__row {
    display: flex;
    gap: 30px;

    @media (max-width: 1024px) {
      gap: 20px;
    }

    @media (max-width: 768px) {
      flex-wrap: wrap;
      gap: 0;
    }
  }

  &__col {
    width: calc(50% - 30px);
    flex-grow: 1;

    @media (max-width: 768px) {
      width: 100%;

    }
  }

  &__image {
    max-width: 100%;
    display: block;

    @media (max-width: 768px) {
      margin-bottom: 30px;
      width: 100%;
    }
  }
}