// font-size variables
$font-size-xl: 9rem; // 144px
$font-size-lg: 2.25rem; // 36px
$font-size-md: 1.875rem; // 30px 
$font-size-base: 1.5rem; // 24px
$font-size-sm: 1.125rem; // 18px
$font-size-xs: 0.875rem; // 14px

// color variables
$color-base: #2d3033;
$color-black: #000;
$color-white: #fff;
$orange-100: #f9efcf;
$red-500: #f38281;