// font-size variables
$h1-font-size: 9rem; // 144px
$h2-font-size: 2.25rem; // 36px
$h3-font-size: 1.875rem; // 30px * 2.133 = 64px
$font-size-lg: 1.5rem; // 24px
$font-size-base: 1.125rem; // 18px
$font-size-sm: 0.875rem; // 14px

// color variables
$color-base: #2d3033;
$color-black: #000;
$color-white: #fff;
$orange-100: #f9efcf;
$red-500: #f38281;